.banner{
    background-image: url(/banner.jpg);
    background-position: center;
    height: 400px;
}
.products{
    padding: 30px;
    border: 1px solid rgb(63, 25, 11);
}
.pImage{
    width: 80%;
    height: auto;
    text-align: center;
}